:root {
    --nav-icon-width: 50px;
    --nav-border-width: 8px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.page-container {
    height: inherit;
    display: flex;
}

.main {
    height: 100%;
    padding: 0;
    padding-left: var(--nav-border-width);
    overflow-y: auto;
}

.nav {
    width: 200px;
    height: inherit;
    position: relative;
    background-color: lightgray;
    transition: width 0.2s;
    flex-shrink: 0;
}

.nav--collapsed {
    width: var(--nav-icon-width);
}

.nav--collapsed .nav__label {
    overflow: hidden;
}

.hidden {
    display: none;
}

.nav__link {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.nav__link:hover {
    background-color: rgb(190, 190, 190);
}

.nav__icon-container {
    width: var(--nav-icon-width);
    height: var(--nav-icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.nav__label {
    white-space: nowrap;
}

.nav__border {
    position: absolute;
    left: 100%;
    top: 0;
    width: var(--nav-border-width);
    height: inherit;
    background-color: darkgray;
    transition: background-color 0.2s;
    cursor: ew-resize;
}

.nav__border:hover {
    background-color: darkslategray;
}
